@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  }

  body {
    @apply bg-slate-100 text-slate-900 min-h-screen;
  }

  #app {
    @apply min-h-screen;
  }
}
